[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
qdrant-client = "*"
numpy = "*"
cohere = "*"
requests = "*"
rich = "*"
aiohttp = "*"
fastapi = "*"
typing = "*"
pydantic = "*"
click = "*"
flask = "*"
flask-cors = "*"

[dev-packages]
ipython = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.10"


[scripts]
salesman = "python -m backend"